body{
  background-color: #C70039;
  color: #ffffff;
  font-family: American Typewriter, serif;
}

header{
  align-items: center;
}

h1 {
  color: #ffffff;
  background-color: #900C3F;
  text-align: center;
}

div {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  color: #ffffff;
  background-color: #900C3F;
  margin: auto;
  width: 50%;
  border: 1px solid white;
  padding: 5px;

}

.hidden{
  display: none;
}

.visible{
  display:block;
}
.good{
  color:#ffbad1;
}
.bad{
  color:#f4eb42;
}
